table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: teal;
  color: white;
  font-size: 20px;
}

tr:hover {
  background-color: #d6eeee;
}

.todo_box {
  width: 50%;
  margin: auto;
}
.addBtn {
  width: 100px;
  border: none;
  background-color: teal;
  color: white;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.loading {
  margin-left: 87%;
}
@media screen and (max-width: 880px) {
  .todo_box {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .loading {
    margin-left: 70%;
  }
}
